.add_title {
    letter-spacing: 0.08ch;
}

.add_form {
    margin: 0 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_group {
    margin: 1.3rem 0;
    display: flex;
    flex-direction: column;
    width: 45%;
}

.form_group_label {
    text-align: start;
    font-size: 1.3em;
    font-weight: 700;
}

.form_group_input {
    padding: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1em;
    font-weight: 500;
    border: 0.1rem solid #9b733f;
    border-radius: 5px;
    field-sizing: content; /*nouvelle propiété géniallll*/
    resize: vertical; /* Permet uniquement le redimensionnement vertical */
}

.add_form_button {
    margin-bottom: 1rem;
}

/***********RESPONSIVE***********/

@media (max-width: 750px) {
    .form_group {
        width: 80%;
    }
}